body
{
		background-image: url("img/tło.png");
background-size: auto auto;
background-attachment: scroll;
	color:#ffffff;
	background-repeat: repeat-x;
  animation: slide 120s linear infinite;

}
@keyframes slide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 20000px 0px;
  }
}
#pojemnik
{
		background-image: url("img/pp.png");
	width:1200px;
	height:850px;
	margin-left:auto;
	margin-right:auto;
		border-style: solid;
	 border-radius: 20px;
	 margin-top:30px;
}
#kartka
{
	float:left;
	margin:10px;

	width:430px;
	height:830px;
}
#kartkaa
{
	float:left;
	margin:10px;
 float:left;
	width:280px;
	height:830px;
}
#logo
{
	text-align:center;
	color:white;
	clear:both;
	width:420px;
	height:195px;
		color:black;
	margin:5px;
	border-style: solid;
	 border-radius: 20px;
	 background-image: url("img/uwu.png");
}



	
	
	
.block {
	clear:both;
	width:420px;
	height:420px;
	margin:5px;
	color:black;
	font-size:20px;
	text-align:center;
border-style: solid;

 border-radius: 20px;
			background-color:#1E90FF;
			
			transition: background-color 1.9s ease-in-out;
		}

		.block:hover {
			background-color:DodgerBlue;
		}
#usl
{
	width:720px;
	height:810px;
	margin:5px;
	
	
	border-color: black;
	 border-radius: 20px;
	 float:left;
	 margin-top:19px;
}
#otomoto
{
	width:420px;
	height:405px;
	margin-top:10px;
	margin-bottom:15px;
	margin-left:5px;
	margin-right:5px;
	clear:both;
	border-style: solid;
	background-color:#993030;
}
#spis
{
	margin:5px;
	height: 820px;
	width:270px;
	background-color:#666666;
	float:left;
	 
}
#info:
{
	
	margin-text-top:5px;
}
#mapa
{
	color:black;
		 margin-top:13px;
	border-style: solid;
 border-radius: 16px;
	width:720px;
	height:422px;
	
}
#kontakty 
{
	width:720px;
	height:376px;
	color:black;
	 border-radius: 16px;
	
}
#otwarcie
{
	float:left;
	width:343px;
	height:359px;
	margin:5px;
	border-style: solid;
	 border-radius: 16px;
	 background-color:#1E90FF;
}


#cennik
{
	float:left;
	width:343px;
	height:359px;
	margin:5px;
	border-style: solid;
	background-color:#1E90FF;
	 border-radius: 16px;
	 text-align:left;
	 font-size:23px;
}
#otw
{
	float:left;
	width:327px;
	height:249px;
	margin:5px;
	
	font-size:30px;
	
	
}
#otww
{
	 border-radius: 16px;
	float:left;
	width:327px;
	height:75px;
	margin:5px;
	border-style: solid;
	text-align:center;
	background-image: url("img/okol.png");

}
#pojazd
{
	 border-radius: 16px;
	float:left;
	width:225px;
	height:355px;
	border-style: solid;
}
#cena
{
	
	 border-radius: 16px;
	float:left;
	width:100px;
	height:355px;
	border-style: solid;
}
.phone-number {
			width:195px;
	height:155px;
	float:left;
	margin-top:12px;
	margin-bottom:12px;
	margin-left:7px;
	margin-right:7px;
	background-image: url("img/tele.png");
	background-color:blue;
	 border-radius: 20px;
	 border-style: solid;
	 color:black;
	 text-align:center;
			
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 24px;
			font-weight: bold;
			cursor: pointer;
			transition: transform 0.3s ease-in-out;
			transform-style: preserve-3d;
		}

		.phone-number:hover {
			transform: rotateY(180deg);
		}

		.phone-number .front, .phone-number .back {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
		}

		.phone-number .back {
			transform: rotateY(180deg);
		}


.email-address {
			width:195px;
	height:155px;
	float:left;
	margin-top:12px;
	margin-bottom:12px;
	margin-left:7px;
	margin-right:7px;
	background-image: url("img/mal.png");
	background-color:blue;
	 border-radius: 20px;
	 border-style: solid;
	 color:black;
	 text-align:center;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 24px;
			font-weight: bold;
			cursor: pointer;
			transition: transform 0.3s ease-in-out;
			transform-style: preserve-3d;
		}

		.email-address:hover {
			transform: rotateY(180deg);
		}

		.email-address .front, .email-address .back {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
		}

		.email-address .back {
			transform: rotateY(180deg);
		}
